.background {
  padding: 2rem 2rem;
  padding-top: 10rem;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;

  background-image: url(../../assets/background.jpg);

  object-fit: cover;
  background-size: cover;
}

.about {
  padding: 1.6rem 1.6rem;

  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  align-items: center;
  justify-content: center;

  color: #f0d7a7;
  background-color: rgba(65, 25, 0, 0.85);
  border-radius: 0.8rem;
}

.heading {
  font-size: 2rem;
  text-align: center;
}

.description {
  font-size: 1.6rem;
  padding: 0 1.6rem;
  text-align: center;
}

@media only screen and (min-width: 600px) {
  .background {
    padding: 4rem 6.4rem;
    padding-top: 12rem;
  }
}

@media only screen and (min-width: 900px) {
  .background {
    padding: 4rem 12rem;
    padding-top: 12rem;
  }
}

@media only screen and (min-width: 1200px) {
  .background {
    padding: 4rem 28rem;
    padding-top: 12rem;
  }
}
